<section class="py-4">
    <h1 class="display-3">
        Thank You
    </h1>
    <p class="lead">
        Your EBook will bbe emailed to you with 3-5 business days.!!!
    </p>
    <a href="/" class="btn btn-lg btn-dark">
        GO BACK HOME
    </a>
</section>